<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Campgrounds</h1>

<% for (let campground of campgrounds) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length) {%>
      <img class="img-fluid" alt="" src="<%= campground.images[0].url %>" />
      <% } else { %>
      <img
        class="img-fluid"
        alt=""
        src="https://media-cdn.tripadvisor.com/media/photo-s/07/a3/11/ec/eshom-campground.jpg"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <!-- <h5 class="card-title"><%=//campground.properties.popUpMarkup %></h5> -->

        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %> </small>
        </p>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
          >View <%= campground.title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- run first for showPageMap.js mapboxgl.accessToken -->
<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  // clusterMap from mapbox require data that under key features, so need to conform the pattern:
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
</script>
<!-- run second for clusterMap.js -->
<script src="/javascripts/clusterMap.js"></script>
